# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildpath
.project
.settings/
.classpath
.factorypath
.sts4-cache/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Symbolication related
app.*.symbols

# Android/iOS build outputs
android/app/debug
android/app/profile
android/app/release
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m

# Generated code files
*.g.dart
*.freezed.dart
